<div class="container-workbook-show">
    <div class="data-name border-right col-md-5">問題</div>
    <div class="data-name data-2 col-md-3">答え</div>
    <div class="data-name border-right col-md-1">　</div>
    <div class="data-name border-right col-md-1">暗記チェック</div>
    <div class="data-name border-right data-3 col-md-1">作成者ID</div>
    <div class="data-name col-md-1">問題集ID</div>
  </div>
    <% @workbook.question_answers.each_with_index do |question_answer, index| %>
      <div class="row row-workbook-show">
        <div class="list-workbook-show col-md-5">
          <%= simple_format(question_answer.question) %>
        </div>
        <div class="list-workbook-show col-md-3 hidden-answer-workbook answer-<%= index %>">
          <%= simple_format(question_answer.answer) %>
        </div>
        <div class="col-md-1 text-center btn btn-info show-answer-<%= index %>">
          答え表示
        </div>

        <script>
        // 答えを表示をクリックで答えを表示(each内に入れて答え単体に反応する)
        $(document).on('click', '.show-answer-<%= index %>', function(){
          $('.answer-<%= index %>').removeClass('hidden-answer-workbook')
          $('.show-answer-<%= index %>').text("答えを隠す").addClass('hidden-answer-<%=index %>');
        });
        // 答えを隠すをクリックで答えを非表示
        $(document).on('click', '.hidden-answer-<%= index %>', function(){
          $('.answer-<%= index%>').addClass('hidden-answer-workbook');
          $('.hidden-answer-<%= index %>').text("答えを表示").removeClass('hidden-answer-<%= index %>');
        });

        </script>
          <% if !question_answer.memory_users.include?(current_user) %>
            <%= link_to "覚えた", memories_path(question_answer_id: question_answer.id, workbook_id: @workbook.id),
                      method: :post, class: "btn btn-danger btn-remenber col-md-1" %>
          <% else %>
            <%= link_to "忘れた", memories_path(question_answer_id: question_answer.id, workbook_id: @workbook.id),
                      method: :delete, class: "btn btn-success col-md-1" %>
          <% end %>
        <div class="list-workbook-show col-md-1">
          <%= question_answer.user_id %>
        </div>
        <div class="list-workbook-show col-md-1">
          <%= question_answer.workbook_id %>
        </div>
      </div>
    <% end %>
</div>
