<div class="container-workbook-show">
    <div class="data-name border-right col-md-5">Question</div>
    <div class="data-name data-2 col-md-3">Answer</div>
    <div class="data-name border-right col-md-1">　</div>
    <div class="data-name border-right col-md-1">Memory</div>
    <div class="data-name border-right data-3 col-md-1">Edit</div>
    <div class="data-name col-md-1">Delete</div>
  </div>
    <% @workbook.question_answers.each do |question_answer| %>
      <div class="row row-workbook-show">
        <div class="list-workbook-show col-md-5">
          <%= simple_format(question_answer.question) %>
        </div>

        <div>
          <div class="col-md-3 list-workbook-show hidden-answer-workbook answer">
            <%= simple_format(question_answer.answer) %>
          </div>
          <div class="col-md-1 btn btn-info show-answer">
            Open
          </div>
        </div>

          <% if !question_answer.memory_users.include?(current_user) %>
            <%= link_to "Memorized", memories_path(question_answer_id: question_answer.id, workbook_id: @workbook.id),
                      method: :post, class: "btn btn-danger btn-remenber col-md-1" %>
          <% else %>
            <%= link_to "Forgot", memories_path(question_answer_id: question_answer.id, workbook_id: @workbook.id),
                      method: :delete, class: "btn btn-success col-md-1" %>
          <% end %>

        <div class="list-workbook-show col-md-1">
          <% if current_user?(question_answer.user) %>
            <%= link_to "Edit", edit_workbook_question_answer_path(@workbook, question_answer) %>
          <% else %>
            -
          <% end %>
        </div>
        <div class="list-workbook-show col-md-1">
          <% if current_user?(question_answer.user) %>
            <%= link_to "Delete", workbook_question_answer_path(@workbook, question_answer), method: :delete, data: { confirm: "本当に削除しますか？" }  %>
          <% else %>
            -
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<script>
// 答えを表示をクリックで答えを表示(each内に入れて答え単体に反応する)
$(document).on('click', '.show-answer', function(){
  var $answer = $(this).prev('.answer')
  $answer.removeClass('hidden-answer-workbook')
  $(this).text("Close").addClass('hidden-ans');
});
// 答えを隠すをクリックで答えを非表示
$(document).on('click', '.hidden-ans', function(){
  var $answerHidden = $(this).prev('.answer')
  $answerHidden.addClass('hidden-answer-workbook');
  $(this).text("Open").removeClass('hidden-ans');
});

</script>
