<div class="wrapper">
  <div class="container text-center container-background">
    <div class="container-workbook-index">

      <h1><span>Workbooks</span></h1>
      <div class="workbook-index-form">
        <div class="btn btn-lg btn-primary work-new-form-show-btn">create Workbbok</div>
        <%= render 'workbooks/workbook_form' %>
      </div>
      <div class="workbook-index-search text-center">
        <%= search_form_for @search do |f| %>
          <div class="form-group">
            <%= f.label :title_or_overview_cont, "title  or  overview" %>
            <%= f.text_field :title_or_overview_cont, class: "form-control search-form" %>
          </div>
          <div class="actions"><%= f.submit "search" %></div>
        <% end %>
      </div>
      <div class="row workbook-index">
          <div class="col-md-1 col-md-offset-2 workbooks-data-name">favorite</div>
          <div class="col-md-2 workbooks-data-name">Title</div>
          <div class="col-md-2 workbooks-data-name">Overview</div>
          <div class="col-md-3 workbooks-data-name">User Name</div>
          <div class="col-md-1 workbooks-data-name">Menu</div>
      </div>

      <% if @result.any? %>
        <% @result.each do |result| %>
          <div class="row workbook-index">
            <div class="col-md-1 col-md-offset-2 workbooks-data">
            <% if !current_user?(result.user) %>
                <% if !result.favorite_users.include?(current_user) %>
                  <%= link_to favorites_path(workbook_id: result.id), method: :post do %>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorites_path(workbook_id: result.id), method: :delete do %>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  <% end %>
                <% end %>
            <% else %>
                <p>-</p>
            <% end %>
            </div>
            <div class="col-md-2 workbooks-data">
              <%=link_to "#{result.title}", workbook_path(result) %>
            </div>
            <div class="col-md-2 workbooks-data">
              <%= simple_format(result.overview) %>
            </div>
            <div class="col-md-2 workbooks-data">
              <%= link_to user_path(id: result.user_id) do %>
                <%= image_tag result.user.image.url, class: 'workbooks-user-img' %>
              <% end %>
            </div>
            <div class="col-md-1 workbooks-data-left-border-none">
              <%=link_to "#{result.user.name}", user_path(id: result.user_id) %>
            </div>
            <div class="col-md-1 workbooks-data">
              <div class="btn workbook-menu-btn workbook-menu-btn">
                Open
              </div>
              <div class=" workbooks-menu-list">
                <ul>
                  <li><%= link_to "Slide", "/workbooks/#{result.id}/slider?display=1", class: 'btn' %></li>
                  <li><%= link_to "Random", "/workbooks/#{result.id}/slider?display=2", class: 'btn' %></li>
                  <% if current_user?(result.user) %>
                    <li><%= link_to "Edit", edit_workbook_path(result), class: "btn"%></li>
                  <% else %>
                    <li>-</li>
                  <% end %>
                  <% if current_user?(result.user) %>
                    <li><%= link_to "Delete", workbook_path(result), method: :delete, class: 'btn', data: { confirm: "本当に削除しますか？" } %></li>
                  <% else %>
                    <li>-</li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
<script>
$(function(){
  // ”問題集を作成”ボタンを押すと、モーダルフォーム表示
  $(document).on('click', '.work-new-form-show-btn', function(){
    $('#workbook-new-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#workbook-new-form-modal').fadeOut();
  });
});
$(function(){
// メニューをクリックすると、メニュー表示
  $(document).on('click', '.workbook-menu-btn', function(){
    var $workbookMenu = $(this).next();
    if ( $workbookMenu.css('display') == 'none' ) {
      $(this).text('Close');
      $workbookMenu.slideDown();
    } else {
      $(this).text('Open');
      $workbookMenu.slideUp();
    }
 });
});

</script>
