<div class="wrapper-workbook-index">
  <div class="container text-center">
    <h1>問題集</h1>
    <div class="workbook-new">
      <%= link_to "問題作成", new_workbook_path %>
    </div>
    <div class="workbooks">
    <% @workbooks.each do |workbook| %>
    <ul>
      <li>
        題名：<%=link_to workbook_path(id: workbook.id) do %>
        <%= workbook.title %>
        <% end %>
        概要：<%= workbook.overview %>
        ID:<%= workbook.user_id %>
        作成者：<%= workbook.user.name %>
      <% end %>
      </li>
    </ul>
    </div>
  </div>
</div>
