<div class="wrapper wrapper-workbook-new">
  <div class="container text-center container-background">
    <div class="container-workbook-new">
    <div class="row">
      <h1>問題集作成</h1>
      <%= form_for @workbook do |f| %>
        <div class="form-group">
          <%= f.label :"題名" %>
          <%= f.text_field :title %>
        </div>
        <div class="form-group">
          <%= f.label :"概要" %>
          <%= f.text_area :overview %>
        </div>

          <%= f.submit "登録", class:'btn btn-info' %>

      <% end %>
    </div>
    </div>
  </div>
</div>
