<div class="wrapper-workbook-show">
  <div class="container text-center">
  <h1><%= @workbook.title %> ユーザーid<%= @workbook.user_id %></h1>
    <%= link_to "スライドへ", "#{@workbook.id}/slider", class:'btn btn-info' %>
    <div class="btn btn-info question-answer-form-show-btn">問題・答えを作成</div>
      <%= render 'workbooks/question_answer_form' %>
      <%= render 'workbooks/question_answer_list' %>

  </div>
</div>

<script>
$(function(){
  $(document).on('click', '.question-answer-form-show-btn', function(){
    $('#question-answer-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#question-answer-form-modal').fadeOut();
  });
});
</script>
