<div class="wrapper wrapper-workbook-show">
  <div class="container text-center container-background">
    <div class="container-workbook-show">
      <h1><%= @workbook.title %> ユーザーid<%= @workbook.user_id %></h1>
        <%= link_to "スライドへ", "#{@workbook.id}/slider", class:'btn btn-info slide-start-btn' %>
        <% if @workbook.user_id == current_user.id %>
          <div class="btn btn-info question-answer-form-show-btn">問題・答えを作成</div>
        <% end %>
        <%= link_to "戻る", :back, class: "btn btn-info" %>

        <%= render 'workbooks/question_answer_form' %>

        <%= render 'workbooks/question_answer_list' %>
    </div>
  </div>
</div>

<script>
$(function(){
  // ”問題・答えを作成”ボタンを押すと、モーダルフォーム表示
  $(document).on('click', '.question-answer-form-show-btn', function(){
    $('#question-answer-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#question-answer-form-modal').fadeOut();
  });
  // スライドにアクセス時に更新　nextの処理が2個ずつ増えるため
  $(document).on('click', '.slide-start-btn', function(){
    location.reload();
  });
});
</script>
