<div class="wrapper">
  <div class="container text-center container-background">
    <div class="container-workbook-show">
      <h1><%= @workbook.title %></h1>
        <%= link_to "Slide", "#{@workbook.id}/slider?display=1", class:'btn btn-block slide-start-btn workbook-show-btn' %><br>
        <%= link_to "Random", "#{@workbook.id}/slider?display=2", class:'btn btn-block slide-start-btn workbook-show-btn' %><br>
        <% if current_user?(@workbook.user) %>
          <div class="btn btn-block question-answer-form-show-btn workbook-show-btn">Create Q and A</div><br>
        <% end %>
        <%= link_to "Csv Export", workbook_question_answers_path(format: :csv, workbook_id: @workbook.id), class: 'btn btn-block workbook-show-btn', data: { confirm: "CSVファイルをダウンロードしますか？" }  %><br>
        <div class="form-group"><br>
        <% if current_user?(@workbook.user) %>
          <%= form_tag import_workbook_question_answers_path(workbook_id: @workbook.id), multipart: true do %>
            <%= file_field_tag :file, class: 'workbook-csv', style: 'display: none' %>
            <div class ="btn csv-form-btn workbook-show-btn workbook-csv-btn">Csv File Select</div><br>
            <%= text_field_tag('filenamevalue', "No File Selected...", id: "csvname", readonly: true) %><br>
            <%= submit_tag "Csv Import", class: 'csvfile-submit' %>
          <% end %>
        <% end %>
      </div>
        <%= render 'workbooks/question_answer_form' %>

        <%= render 'workbooks/question_answer_list' %>

        <%= paginate @question_answers %>

    </div>
  </div>
</div>

<script>
$(function(){
  // ”問題・答えを作成”ボタンを押すと、モーダルフォーム表示
  //location.reload(true);

  $(document).on('click', '.question-answer-form-show-btn', function(){
    $('#question-answer-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#question-answer-form-modal').fadeOut();
  });
  // スライドにアクセス時に更新　nextの処理が2個ずつ増えるため
  $(document).on('click', '.slide-start-btn', function(){
    location.reload();
  });
  $(document).on('click', '.pagination', function(){
    location.reload();
  });
});
$(function(){
  // ”edit”ボタンを押すと、モーダルフォーム表示
  $(document).on('click', '.question-answer-edit-btn', function(){
    $(this).next().fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $(this).parents('#question-answer-edit-form-modal').fadeOut();
  });
});
</script>
<script>
$(function(){
  $(document).on('click', '.csv-form-btn', function(){
    $('.workbook-csv').click();
  });
});
  $(document).on('change', '.workbook-csv', function(){
    $('#csvname').val($(this).val().replace(/^.*\\/, ""));
  });
  $(function(){
  // メニューをクリックすると、メニュー表示
    $(document).on('click', '.workbook-menu-btn', function(){
      var $workbookMenu = $(this).next();
      if ( $workbookMenu.css('display') == 'none' ) {
        $(this).text('Close');
        $workbookMenu.slideDown();
      } else {
        $(this).text('Open');
        $workbookMenu.slideUp();
      }
   });
  });
</script>
