<div class="wrapper wrapper-workbook-slider">
  <div class="container text-center container-background">
    <div class="container-workbook-slider">

      <div class="container-question">
        <div class="question">問題 <%= @display %></div>
          <% @workbook_question_answers.each_with_index do |question_answer, index| %>
            <% if index == 0 %>
              <div class="slide active-slide">
                <p><%= simple_format(question_answer.question) %></p>
              </div>
            <% else %>
              <div class="slide">
                <p><%= simple_format(question_answer.question) %></p>
              </div>
            <% end %>
          <% end %>
      </div>

      <div class="container container-slide-btn">
        <div class="row slide-btn">
          <div class="btn btn-info prev-btn change-btn col-md-3">
            前へ
          </div>
          <div class="btn btn-info answer-btn col-md-offset-1 col-md-4">
            答えを表示する
          </div>
          <div class="btn btn-info next-btn change-btn col-md-offset-1 col-md-3">
            次へ
          </div>
        </div>
      </div>

      <div class="container-answer hidden-answer">
        <div class="answer">答え</div>
          <% @workbook_question_answers.each_with_index do |question_answer, index| %>
            <% if index == 0 %>
              <div class="slide active-slide">
                <%= simple_format(question_answer.answer) %>
              </div>
            <% else %>
              <div class="slide">
                <%= simple_format(question_answer.answer) %>
              </div>
            <% end %>
          <% end %>
      </div>

      <%= link_to "スライドショーを終える", workbook_path(id: params[:id]) %>

    </div>
  </div>
</div>
<script>
$(function(){
  $(document).on('click', '.change-btn', function(){
    var $displaySlide = $('.active-slide');
    $displaySlide.removeClass('active-slide');
    if ($(this).hasClass('next-btn')) {
      $displaySlide.next().addClass('active-slide');
    } else {
      $displaySlide.prev().addClass('active-slide');
    }
  });
  $(document).on('click', '.answer-btn', function(){
    var $hiddenAnswer = $('.hidden-answer');
    var $answerBtn = $('.answer-btn');
    $hiddenAnswer.removeClass('hidden-answer');
    $answerBtn.text("答えを隠す");
    $answerBtn.addClass('answer-hidden-btn');
  });
  $(document).on('click', '.answer-hidden-btn', function(){
    var $answerHiddenBtn = $('.answer-hidden-btn');
    var $containerAnswer = $('.container-answer');
    $answerHiddenBtn.text("答えを表示する");
    $answerHiddenBtn.removeClass('answer-hidden-btn');
    $containerAnswer.addClass('hidden-answer');
  });

});
</script>
