<div class="wrapper-users-edit">
  <div class="container text-center">
  <h1>ユーザー編集</h1>
    <div class="row">
      <%= form_for @user do |f| %>
        <div class="form-group">
          <%= f.label :"名前" %><br>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :"メールアドレス" %><br>
          <%= f.email_field :email %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード" %><br>
          <%= f.password_field :password %>
        </div>
        <div class="form-group">
          <%= f.label :"パスワード確認" %><br>
          <%= f.password_field :passwrod %>
        </div>

        <%= f.submit "編集登録", class: "btn btn-info" %>
        <%= link_to "ユーザーページへ戻る", user_path(id: params[:id]) %>
      <% end %>
    </div>

  </div>
</div>
