<div class="wrapper wrapper-user-show">
  <div class="container container-background">
    <div class="container-user-show">

      <div class="row">

        <div class="col-md-4">
          <div class="user-show-name">
            <%= @user.name %>
            <% if current_user?(@user) %>
              <%= link_to "ユーザー情報編集", edit_user_path(id: params[:id]) %>
              <%= link_to "カレンダー", user_calendar_index_path(@user) %><br>
            <% end %>
            <%= image_tag @user.image.url %>
          </div>
        </div>

        <div class="col-md-8">
          <% if current_user?(@user) %>
            <div class="btn btn-block btn-info work-new-form-show-btn">
              問題集作成
            </div>
            <%= render 'workbooks/workbook_form' %>
          <% end %>
            <div class="row">
              <h3>ユーザー問題集一覧</h3>
              <% @workbooks.each do |workbook| %>
                <% if workbook.user_id == @user.id %>
                  <div class="user-show-workbook-title col-md-4">
                    <%= link_to "#{workbook.title}", workbook_path(workbook.id) %>
                  </div>
                  <div class="user-show-workbook-overview col-md-5">
                    <%= workbook.overview %>
                  </div>
                  <div class="col-md-2">
                    <%= link_to "スライド", "/workbooks/#{workbook.id}/slider?display=1", class: 'btn btn-info' %>
                  </div>
                  <div class="col-md-1">
                    <%= link_to "ランダム", "/workbooks/#{workbook.id}/slider?display=2", class: 'btn btn-warning' %>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
          <h3>お気に入り問題集一覧</h3>
        <% @favorite_workbooks.each do |workbook| %>
            <div class="user-show-workbook-title col-md-4">
              <%= link_to "#{workbook.title}", workbook_path(workbook.id) %>
            </div>
            <div class="user-show-workbook-overview col-md-4">
              <%= workbook.overview %>
            </div>
            <div class="col-md-1">
              <%= link_to "#{workbook.user.name}", user_path(workbook.user_id) %>
            </div>
            <div class="col-md-2">
              <%= link_to "スライド", "/workbooks/#{workbook.id}/slider?display=1", class: 'btn btn-info' %>
            </div>
            <div class="col-md-1">
              <%= link_to "ランダム", "/workbooks/#{workbook.id}/slider?display=2", class: 'btn btn-warning' %>
            </div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  // ”問題集を作成”ボタンを押すと、モーダルフォーム表示
  $(document).on('click', '.work-new-form-show-btn', function(){
    $('#workbook-new-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#workbook-new-form-modal').fadeOut();
  });
});
</script>
