<div class="container">
<div class="row">
<%=@user.id %>
<%= @user.name %>
<%= @user.email %>
<% if @user == current_user %>
<%= link_to "編集", edit_user_path(id: params[:id]) %>
<%= link_to "ユーザー一覧へ", users_path %>
<%= link_to "問題集作成", new_workbook_path %>
<% else %>
<%= link_to "ユーザー一覧へ", users_path %>
<% end %>
</div>
<div class="row" >
  <% @workbooks.each do |workbook| %>
  <ul>
      <% if workbook.user_id == @user.id %>
    <li>
        題名　<%= link_to "#{workbook.title}", workbook_path(workbook.id) %>
        概要　<%= workbook.overview %>
    </li>
      <% end %>
  </ul>
  <% end %>
  </div>
</div>
