<div class="wrapper">
  <div class="container container-background">

    <div class="container-user-show">

      <div class="row text-center user-show">
        <div class="col-md-3">
          <div class="user-img-show"><%= image_tag @user.image.url %></div><br>
          <div class="user-name-show"><%= @user.name %></div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <% if current_user?(@user) %>
            <div class="btn btn-block btn-primary pages-show-edit-btn">User edit</div>
            <%= render 'users/user_edit_form' %>
            <% end %>
          <%= link_to "My Workbooks", "#myworkbooks", class: 'btn btn-block btn-primary' %><br>
          <%= link_to "Favorite Workbooks", "#favoriteworkbooks", class: 'btn btn-block btn-primary' %><br>
          <% if current_user?(@user) %>
            <%= link_to "Calendar", user_calendar_index_path(@user), class: 'btn btn-block btn-primary' %><br>
            <div class="btn btn-block btn-info work-new-form-show-btn">
              Workbook create
            </div>
            <%= render 'workbooks/workbook_form' %>
          <% end %>
        </div>
      </div>
      <h2 id="myworkbooks"><span>My Workbooks</span></h2>
      <div class="row text-center mybooks-show">
        <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
          Title
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 workbooks-data-name">
          Overview
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
          Slide
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
          Random
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 workbooks-data-name">
          Edit
        </div>
        <div class="col-md-1 col-sm-1 col-xs-1 workbooks-data-name">
          Delete
        </div>
      </div>
      <div class="row text-center mybooks-show">
          <% @workbooks.each do |workbook| %>
            <% if workbook.user_id == @user.id %>
              <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
                <%= link_to "#{workbook.title}", workbook_path(workbook.id) %>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4 workbooks-data">
                <%= simple_format(workbook.overview) %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
                <%= link_to "Slide", "/workbooks/#{workbook.id}/slider?display=1", class: 'btn btn-info' %>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
                <%= link_to "Random", "/workbooks/#{workbook.id}/slider?display=2", class: 'btn btn-warning' %>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-1 workbooks-data">
                <%= link_to "Edit", edit_workbook_path(id: workbook.id), class: 'btn btn-success' %>
              </div>
              <div class="col-md-1 col-md-1 col-xs-1 workbooks-data workbooks-right-border">
                <%= link_to "Delete", workbook_path(workbook), method: :delete, class: 'btn btn-danger', data: { confirm: "本当に削除しますか？" } %>
              </div>
            <% end %>
          <% end %>
      </div>
      <h2 id="favoriteworkbooks"><span>Favorite Workbooks</span></h3>
        <div class="row text-center mybooks-show">
          <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
            Title
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 workbooks-data-name">
            Overview
          </div>
          <div class="col-md-3 col-sm-3 col-xs-3 workbooks-data-name">
            User
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
            Slide
          </div>
          <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data-name">
            Random
          </div>
        </div>
        <% @favorite_workbooks.each do |workbook| %>
          <div class="row text-center mybooks-show">
            <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
              <%= link_to "#{workbook.title}", workbook_path(workbook.id) %>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2 workbooks-data">
              <%= workbook.overview %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
              <%= link_to user_path(workbook.user_id) do %>
                <%= image_tag workbook.user.image.url, class: 'workbooks-user-img' %>
              <% end %>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 workbooks-data-left-border-none">
              <%= link_to "#{workbook.user.name}", user_path(workbook.user_id) %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
              <%= link_to "Slide", "/workbooks/#{workbook.id}/slider?display=1", class: 'btn btn-info' %>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 workbooks-data">
              <%= link_to "Random", "/workbooks/#{workbook.id}/slider?display=2", class: 'btn btn-warning' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  // ”問題集を作成”ボタンを押すと、モーダルフォーム表示
  $(document).on('click', '.work-new-form-show-btn', function(){
    $('#workbook-new-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#workbook-new-form-modal').fadeOut();
  });
});
</script>
<script>
$(function(){
  $(document).on('click', '.pages-show-edit-btn', function(){
    $('#users-edit-form-modal').fadeIn();
  });
  $(document).on('click', '.close-modal', function(){
    $('#users-edit-form-modal').fadeOut();
  });
});
</script>
<script>
$(function(){
  $(document).on('click', '.icon-form-btn', function(){
    $('#user_image').click();
  });
});
  $(document).on('change', '#user_image', function(){
    $('#filename').val($(this).val().replace(/^.*\\/, ""));
  });
</script>
