<div class="container text-center" id="question-answer-edit-form-modal">
  <div class="container-question-answer-edit">
    <div class="modal-form-question-answer-edit">
      <div class="text-right"><i class="close-modal">×</i></div>
      <h1>Edit Question and Answer</h1>
        <%= form_for qa, url: workbook_question_answers_path(@workbook,qa) do |f| %>
          <div class="row question-answer-form">
            <div class="form-group col-md-6">
              <%= f.label :question %>
              <%= f.text_area :question, class: 'question-form' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :answer %>
              <%= f.text_area :answer, class: 'answer-form' %>
            </div>
          </div>

          <%= f.submit "Edit", class: 'btn edit-question-answer-btn' %>

        <% end %>
    </div>
  </div>
</div>
