<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <% if logged_in? %>
    <%= render 'layouts/header' %>
    <% end %>
    <%= render 'layouts/alert' %>
    <%= yield %>
    <!-- <%= debug(params) if Rails.env.development? %> -->
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
      // workbooksのopen不具合用
      $(document).on('click', '.workbooks-link', function(){
        location.reload();
      });
      $(document).on('click', '.user-link', function(){
        location.reload();
      });
    </script>
  </body>
</html>
